bin
obj

App.Common/bin
App.Common/obj

Academic.Domain/bin
Academic.Domain/obj
Academic.Infrastructure/bin
Academic.Infrastructure/obj
Academic.API/bin
Academic.API/obj

Identity.Api/bin
Identity.Api/obj

.vs